.container-wrapper {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    
    .container-child-wrapper {
        display: table-cell;
        vertical-align: middle;
    }
    
    .movie-icon {
        font-size: 1.2em;
    }
}