.page-wrapper {
    height: 100%;
}

.container-wrapper {
    .poster-wrapper {
        text-align: center;
    }

    .title-wrapper {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
    }

    .description {
        text-align: left;
    }

    .descriptors {
        font-weight: bold;
    }

    .ratings-wrapper {
        text-align: center;

        .ratings-chip-wrapper {
            margin: 0.3em;
        }
    }
}