.carousel-wrapper {
    width: 100%;
    text-align: center;
    
    .carousel {
        padding-left: 2em;
        padding-right: 2em;
    }
}


.mock-slider-item {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

    img {
        display: block;
        max-width: 95%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
}